* {
  font-family: helvetica,arial,sans-serif;
}

body {
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid gray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
}

nav {
  margin-top: 20px;
  text-align: center;
}

a:visited {
  color: gray;
}

img {
  width: 100%;
  }

.attention {
  color: white;
  background-color: gray;
}

.subtle-repeating-background {
  background-image: url(images/128-196.jpg);
  background-repeat: repeat;
}

#intro {
  color: gray;
}

@media screen and (min-width: 640px) {
  div.mainpane {
    display: inline-block;
    vertical-align: top;
    width: 66.667%;
  }

  div.sidebar {
    display: inline-block;
    vertical-align: top;
    width: 33.333%;
  }
}
