* {
  font-family: helvetica,arial,sans-serif;
}

body {
  width: 900px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid gray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
}

nav {
  margin-top: 20px;
  text-align: center;
}

a:visited {
  color: gray;
}

.attention {
  color: white;
  background-color: gray;
}

.subtle-repeating-background {
  background-image: url(images/128-196.jpg);
  background-repeat: repeat;
}

#intro {
  color: gray;
}
